<div class="jumbotron jumbotron-fluid mt-4">
  <div class="container">
    <h1 class="display-5">Counter App | Current: {{ counter }}</h1>
    <p class="lead">
      You can play around with increment and decrement!
    </p>
    <hr />

    <!-- More on equality check in JavaScript: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Equality_comparisons_and_sameness -->
    <button
      class="btn btn-primary mr-4"
      (click)="incrementClickHandler()"
      [disabled]="counter === 20"
    >
      Increment
    </button>
    <button
      class="btn btn-danger"
      (click)="decrementClickHandler()"
      [disabled]="counter === 0"
    >
      Decrement
    </button>
  </div>
</div>
